/* image styles */

.logo {
  height: 75px;
}

.icon {
  margin-top: -5px;
  margin-right: 20px;
  height: 50px;
  position: relative;
  display: inline-block;
}

.circular.profile.image {
  margin-top: -5px;
  width: 40px;
}

.profile.name {
  font-weight: 700;
  margin-left: 10px;
  border-bottom: 2px solid #02D6F6;
  padding-bottom: 2px;
}

.dropdown .menu a .item {
  padding: 10px;
}

.dropdown .menu a .item:hover {
  background-color: #efefef;
}

.dropdown .menu a {
  text-decoration: none;
  color: #292828;
}


/* menu and footer styles */

#right-menu {
  margin-top: 23px;
  float: right;
}

header, footer {
  background-color: #292828;
  height: 80px;
  padding: 0 40px;
  color: white;
}

footer {
  text-align: center;
  padding: 20px 40px;
  text-align: center;
  position:absolute;
  bottom:0;
  width:100%;
}

/* content styles */

#root {
   min-height:100%;
   position:relative;
}

.body {
  padding: 40px 10% 200px 10%;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    font-family: Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif;
}

h2.section-heading {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px !important;
}

h3.section-subheading {
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 75px;
    text-transform: none;
    font-family: 'Droid Serif','Helvetica Neue',Helvetica,Arial,sans-serif;
}

.text-uppercase {
    text-transform: uppercase!important;
}

.text-muted {
    color: #6c757d!important;
}
