.ui.teal.button {
  margin-bottom: 30px;
}

#map {
  height: 100%;
}

.create.map {
  height: 500px;
  margin: 0 -15%;
}

.map.form {
  min-width: 400px;
  padding: 20px;
  background: white;
  position: absolute;
  z-index: 1;
  margin-top: 90px;
  margin-left: 40px;

  border: none;
  border-radius: .28571429rem;
  box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
}

.map.info {
  min-width: 100px;
  padding: 20px;
  background: white;
  position: absolute;
  z-index: 1;
  margin-top: 70px;
  margin-left: 40px;

  border: none;
  border-radius: .28571429rem;
  box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
}

.map.form .ui.teal.button {
  margin-bottom: 0;
}