#vehicleButton{
	margin: 50px;
	padding: 10px;
	text-align: center;
}
#addVehicleBtn{
	background-color: transparent;
	color: #54c8ff;
	width: 150px;
	height: 50px;
	box-shadow: 0 0 0 2px #54c8ff inset!important;
	font-size: 1rem;
	cursor: pointer;
    display: inline-block;
    min-height: 1em;
    outline: 0;
    border: none;
    vertical-align: baseline;
    margin: 0 .25em 0 0;
    text-transform: none;
    text-shadow: none;
    font-weight: 700;
    line-height: 1em;
    font-style: normal;
    text-align: center;
    text-decoration: none;
    border-radius: .28571429rem;
}

#addVehicleBtn:hover{
	background-color: #54c8ff;
	color: white;
}

h2{
    text-align: center;
    margin: 100px;
}

.navbar{
    text-align: center;
}
#vehiclesNav, #routesNav{
    padding: 0px;
    text-align: center;
    background-color: transparent;
    border: solid #54c8ff;
}
#vehiclesNav a, , #routesNav a{
    color: #54c8ff;
    box-shadow: 0 0 0 2px #54c8ff inset!important;
}
#vehiclesNav a:hover, #routesNav a:hover{
    background-color: #54c8ff;
    color: white;
}
#vehiclesNav .active, #routesNav .active{
    color: white;   
}